<div class="main-container card">
  <div class="card-body"></div>

  <div>
    <div *ngIf="isEditing; else details">
      <div *ngIf="dragonId; else newDragon">
          <h2 class="title"> Editar dragão {{ dragon.name }}</h2>
      </div>
      <ng-template #newDragon>
        <h2 class="title">Criar um novo dragão</h2>
      </ng-template>
    </div>
    <ng-template #details>
      <h2 class="title">Detalhes do dragão {{ dragon.name }}</h2>
    </ng-template>
  </div>

  <form class="needs-validation" [formGroup]="dragonForm" novalidate (ngSubmit)="onSubmit()">

      <div class="field" *ngIf="!isEditing">
        <label class="label">Data de criação</label>
        <div class="control">
          <span class="input" disabled>{{ dragon.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>
      </div>

      <div class="field">
        <label class="label">Nome</label>
        <div class="control">
          <input type="text" class="input" [ngClass]="{'is-danger': showError('name')}"
            placeholder="Informe o nome do dragão" formControlName="name" (input)="onInput()">
        </div>
        <p *ngIf="showError('name')" class="help is-danger">Informe o nome do dragão</p>
      </div>

      <div class="field">
        <label class="label">Tipo</label>
        <div class="control">
          <input type="text" class="input" [ngClass]="{'is-danger': showError('type')}"
            placeholder="Informe o tipo do dragão" formControlName="type" (input)="onInput()">
        </div>
        <p *ngIf="showError('type')" class="help is-danger">Informe o tipo do dragão</p>
      </div>

      <div class="field">
          <label class="label">Histórias</label>
          <div class="control">
            <textarea class="textarea" rows="3"
              [ngClass]="{'is-danger': showError('histories')}" (input)="onInput()"
              placeholder="Informe as histórias do dragão" formControlName="histories"></textarea>
          </div>
          <p *ngIf="showError('histories')" class="help is-danger">Informe as histórias do dragão</p>
          <p *ngIf="isEditing" class="help is-success">Separe as histórios por linha ou <strong>;</strong> ou <strong>|</strong></p>
        </div>

      <div class="is-pulled-left">
          <button class="button" routerLink="/">Cancelar</button>
      </div>
      <div class="is-pulled-right">
          <button *ngIf="isEditing; else detailsView" class="button is-link"
            type="submit" [disabled]="!dragonForm.valid">Salvar</button>

          <ng-template #detailsView>
              <button class="button is-link" type="submit" [routerLink]="['/dragons', dragon.id]">Editar</button>
          </ng-template>
      </div>
    </form>

</div>
